@model GestionTarea.ViewModels.TareaViewModel

@{
    ViewData["Title"] = "Crear Nueva Tarea";
}

<form asp-action="Crear" asp-controller="Home" method="post">
    <div>
        <label for="Titulo">Título:</label>
        <input type="text" id="Titulo" name="Titulo" class="form-control" required />
    </div>

    <div>
        <label for="Descripcion">Descripción:</label>
        <textarea id="Descripcion" name="Descripcion" class="form-control"></textarea>
    </div>

    <div>
        <label for="FechaVencimiento">Fecha de Vencimiento:</label>
        <input type="date" id="FechaVencimiento" name="FechaVencimiento" class="form-control" />
    </div>

    <div>
        <label for="Id_UsuarioAsignado">Asignar a:</label>
        <select asp-for="Id_UsuarioAsignado" class="form-control" required>
            <option value="">Selecciona un usuario</option>
            @foreach (var usuario in Model.UsuariosDisponibles)
            {
                <option value="@usuario.Id_Usuario">@usuario.Nombre</option>
            }
        </select>
    </div>


    <button type="submit" class="btn btn-primary">Guardar</button>
</form>